$bg-color: #233000;
$text-color: #ccc;
$font-family: sans-serif;
$text-weight: 500;
$text-heading-size: 30px;
$text-para-size: 20px;
$side-padding: 50px;
$transperants-color: rgba(0, 0, 0, 0.6);
$border-dashed: 1px dashed;
$border-solid: 1px solid;
$container-width: 100%;
$container-height: auto;
$navigation-color: rgba(35, 48, 0, 0.9);
$flex-gap: 30px;
$myrelative-p: relative;
$myabsolute-p: absolute;
