* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0;
  width: 100%;
  height: auto;
  border: 1px dashed black;
}
.container .wrap-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background-img2.png);
  background-size: cover;
  height: 750px;
  color: #ccc;
  width: 100%;
  font-family: sans-serif;
}
.container .wrap-1 .flexbox-1 {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}
.container .wrap-1 .flexbox-1 .col-1 {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.container .wrap-1 .flexbox-1 .col-1 h2 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  z-index: 1;
  position: relative;
  color: white;
}
.container .wrap-1 .flexbox-1 .col-1 h2::after {
  content: "";
  width: 100px;
  height: 60px;
  position: absolute;
  border: 1px solid white;
  left: 0px;
  margin-left: 25px;
  bottom: -15px;
}
.container .wrap-1 .flexbox-1 .col-1 .fa-bars {
  width: 50px;
  padding-top: 15px;
  color: #ccc;
  cursor: pointer;
  position: relative;
}
.container .wrap-1 .flexbox-1 .col-1 .bars-content {
  position: absolute;
  background-image: url(../images/nav-background.png);
  background-color: rgba(35, 48, 0, 0.9);
  background-blend-mode: multiply;
  min-width: 800px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-150px);
  padding: 100px;
  margin: 40px 0 0 170px;
  display: none;
  z-index: 1;
}
.container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-link a {
  color: yellow;
}
.container .wrap-1 .flexbox-1 .col-1 .bars-content ul li {
  list-style-type: none;
  padding: 12px;
}
.container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a:hover {
  background: white;
  color: black;
}
.container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content {
  padding-left: 40px;
}
.container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li {
  padding: 3px;
}
.container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li a {
  font-size: 17px;
}
.container .wrap-1 .flexbox-1 .col-2 {
  max-width: 400px;
}
.container .wrap-1 .flexbox-1 .col-2 .reservation-texts {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  color: white;
  padding: 0 70px;
  font-size: 20px;
  font-weight: 500;
}
.container .wrap-1 .flexbox-1 .col-2 .reservation-texts a {
  padding: 8px 25px;
  color: white;
  border: 1px solid white;
  text-decoration: none;
}
.container .wrap-1 .hero-text {
  max-width: 800px;
  padding: 200px 50px 0;
}
.container .wrap-1 .hero-text h1 {
  font-size: 100px;
  font-weight: 700px;
  line-height: 120px;
}
.container .wrap-1 .hero-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.container .wrap-1 .hero-time {
  padding: 50px 50px 0 850px;
}
.container .wrap-1 .hero-time .prompt {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.container .wrap-1 .hero-time .prompt h4 {
  font-size: 25px;
  font-weight: 600;
}
.container .wrap-1 .hero-time .prompt p {
  font-size: 18px;
  font-weight: 400;
}
.container .wrap-1 .hero-time table {
  padding-top: 30px;
}
.container .wrap-1 .hero-time table tr {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.container .wrap-1 .hero-time table tr th {
  font-size: 20px -2px;
  font-weight: 400;
  line-height: 25px;
}
.container .wrap-1 .hero-time table tr td {
  font-size: 20px -2px;
  font-weight: 400;
  line-height: 25px;
}
.container .wrap-2 {
  height: 1600px;
}
.container .wrap-2 .flexbox-3 {
  display: flex;
  justify-content: space-between;
  padding: 250px 250px 50px 50px;
}
.container .wrap-2 .flexbox-3 .col-2 {
  max-width: 600px;
}
.container .wrap-2 .flexbox-3 .col-2 .orange {
  width: 300px;
  position: absolute;
  left: 645px;
  bottom: -507px;
  z-index: -1000;
}
.container .wrap-2 .flexbox-3 .col-2 .man-img {
  width: 700px;
}
.container .wrap-2 .flexbox-3 .col-3 {
  margin-top: 350px;
}
.container .wrap-2 .flexbox-3 .col-3 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.container .wrap-2 .flexbox-3 .col-3 p a {
  color: rgb(66, 207, 66);
  text-decoration: none;
  cursor: pointer;
}
.container .wrap-2 .flexbox-4 {
  padding: 50px 80px 50px 100px;
  display: flex;
  justify-content: space-between;
}
.container .wrap-2 .flexbox-4 .col-3 {
  margin-top: 300px;
  max-width: 550px;
}
.container .wrap-2 .flexbox-4 .col-3 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 20px;
}
.container .wrap-2 .flexbox-4 .col-3 a {
  font-size: 16px;
  border: 1px solid #123;
  text-decoration: none;
  padding: 8px 25px;
  text-align: center;
  cursor: pointer;
  color: #123;
  font-weight: 400;
}
.container .wrap-2 .flexbox-4 .col-4 {
  max-width: 600px;
}
.container .wrap-2 .flexbox-4 .col-4 .man-img {
  width: 500px;
}
.container .wrap-3 {
  height: 1150px;
  background: #ebf0e4;
}
.container .wrap-3 .mint {
  width: 400px;
  position: absolute;
  left: 120px;
}
.container .wrap-3 .col-1 {
  padding: 160px 370px 100px;
}
.container .wrap-3 .col-1 h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 150px;
}
.container .wrap-3 .col-1 small {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.container .wrap-3 form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding: 50px;
}
.container .wrap-3 form .first {
  width: 598px;
  height: 50px;
  font-size: 16px;
  font-weight: 400px;
  color: #123;
  padding: 5px 8px;
  border: transparent;
}
.container .wrap-3 form .first ::-moz-placeholder {
  color: #b3b3b3;
}
.container .wrap-3 form .first ::placeholder {
  color: #b3b3b3;
}
.container .wrap-3 form .second {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 400px;
  padding: 5px 8px;
  color: #123;
  border: transparent;
}
.container .wrap-3 form .second ::-moz-placeholder {
  color: #b3b3b3;
}
.container .wrap-3 form .second ::placeholder {
  color: #b3b3b3;
}
.container .wrap-3 form button {
  width: 200px;
  margin: 100px 550px;
  height: 50px;
  background: #233000;
  font-size: 16px;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}
.container footer {
  height: 500px;
  background: #233000;
  padding: 100px 50px;
}
.container footer .flexbox-11 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dashed white;
}
.container footer .flexbox-11 .col-12 {
  min-width: 300px;
  margin: 0 0 100px 0;
}
.container footer .flexbox-11 .col-12 h1 {
  font-size: 45px;
  font-weight: 800;
  color: white;
}
.container footer .flexbox-11 .col-12 h4 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin: 0 0 50px 0;
}
.container footer .flexbox-11 .col-12 p {
  font-size: 20px;
  font-weight: 200px;
  color: white;
  line-height: 25px;
}
.container footer .flexbox-11 .col-12 a {
  text-decoration: none;
  color: white;
  margin-bottom: 50px;
}
.container footer .flexbox-11 .col-12 .address {
  margin: 30px 0 0 0;
}
.container footer .flexbox-11 .col-12 input {
  width: 300px;
  height: 50px;
  border: transparent;
  background: white;
  color: black;
  padding: 5px 10px;
}
.container footer .flexbox-11 .col-12 button {
  width: 150px;
  height: 50px;
  padding: 5px 10px;
  background: #5e6600;
  border: transparent;
  cursor: pointer;
  font-size: 20px;
}
.container footer .flexbox-11 .col-12 small {
  font-size: 15px;
  line-height: 25px;
  color: white;
}
.container footer .visit {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}
.container footer .visit small {
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.container footer .visit .platforms {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.container footer .visit .platforms .fa-brands {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 250.9px) {
  .container {
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px dashed black;
  }
  .container .wrap-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background-img2.png);
    background-size: cover;
    height: 550px;
    color: #ccc;
    width: 100%;
    font-family: sans-serif;
  }
  .container .wrap-1 .flexbox-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .wrap-1 .flexbox-1 .col-1 {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2 {
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    z-index: 1;
    color: white;
    position: relative;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2::after {
    content: "";
    width: 40px;
    height: 25px;
    position: absolute;
    border: 1px solid #ccc;
    left: 0px;
    margin-left: 22px;
    bottom: -5px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .fa-bars {
    width: 15px;
    padding-top: 5px;
    cursor: pointer;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content {
    position: absolute;
    background-image: url(../images/nav-background.png);
    background-color: rgba(35, 48, 0, 0.9);
    background-blend-mode: multiply;
    min-width: 800px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-150px);
    padding: 100px;
    margin: 40px 0 0 170px;
    display: none;
    z-index: 1;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-link a {
    color: yellow;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li {
    list-style-type: none;
    padding: 12px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a:hover {
    background: white;
    color: black;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content {
    padding-left: 40px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li {
    padding: 3px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li a {
    font-size: 17px;
  }
  .container .wrap-1 .flexbox-1 .col-2 {
    max-width: 400px;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
    -moz-column-gap: 45px;
         column-gap: 45px;
    font-size: 12px;
    font-weight: 300;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts a {
    padding: 4px 12px;
    border: 1px solid white;
    text-decoration: none;
    color: black;
  }
  .container .wrap-1 .hero-text {
    max-width: 800px;
    padding: 100px 10px 0;
  }
  .container .wrap-1 .hero-text h1 {
    font-size: 35px;
    font-weight: 700px;
    line-height: 60px;
  }
  .container .wrap-1 .hero-text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .container .wrap-1 .hero-time {
    padding: 50px 10px 0 10px;
  }
  .container .wrap-1 .hero-time .prompt {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .container .wrap-1 .hero-time .prompt h4 {
    font-size: 14px;
    font-weight: 600;
  }
  .container .wrap-1 .hero-time .prompt p {
    font-size: 12px;
    font-weight: 400;
  }
  .container .wrap-1 .hero-time table {
    padding-top: 10px;
  }
  .container .wrap-1 .hero-time table tr {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .container .wrap-1 .hero-time table tr th {
    font-size: 20px -8px;
    font-weight: 400;
    line-height: 35px;
  }
  .container .wrap-1 .hero-time table tr td {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .container .wrap-2 {
    height: 1000px;
  }
  .container .wrap-2 .flexbox-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 120px 10px 20px 10px;
  }
  .container .wrap-2 .flexbox-3 .col-2 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-3 .col-2 .orange {
    width: 150px;
    position: absolute;
    left: 95px;
    bottom: -230px;
    z-index: -1000;
  }
  .container .wrap-2 .flexbox-3 .col-2 .man-img {
    width: 100%;
  }
  .container .wrap-2 .flexbox-3 .col-3 {
    margin-top: 50px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p a {
    color: rgb(66, 207, 66);
    text-decoration: none;
    cursor: pointer;
  }
  .container .wrap-2 .flexbox-4 {
    padding: 10px 10px 30px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .container .wrap-2 .flexbox-4 .col-3 {
    margin-top: 50px;
    max-width: 550px;
  }
  .container .wrap-2 .flexbox-4 .col-3 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .container .wrap-2 .flexbox-4 .col-3 a {
    font-size: 14px;
    border: 1px solid #123;
    text-decoration: none;
    padding: 4px 15px;
    text-align: center;
    cursor: pointer;
    color: #123;
    font-weight: 400;
  }
  .container .wrap-2 .flexbox-4 .col-4 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-4 .col-4 .man-img {
    width: 100%;
  }
  .container .wrap-3 {
    height: 850px;
    background: #ebf0e4;
  }
  .container .wrap-3 .mint {
    width: 70%;
    position: absolute;
    left: 20px;
  }
  .container .wrap-3 .col-1 {
    padding: 80px 35px 20px;
  }
  .container .wrap-3 .col-1 h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
  }
  .container .wrap-3 .col-1 small {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-3 form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 50px;
         column-gap: 50px;
    padding: 50px 10px;
  }
  .container .wrap-3 form .first {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400px;
    padding: 5px 8px;
    color: #123;
    border: transparent;
  }
  .container .wrap-3 form .first ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .first ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400px;
    padding: 5px 8px;
    color: #123;
    border: transparent;
  }
  .container .wrap-3 form .second ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form button {
    width: 100%;
    margin: 50px 40px;
    height: 40px;
    background: #233000;
    font-size: 14px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
  }
  .container footer {
    height: 500px;
    background: #233000;
    padding: 30px 10px;
    text-align: center;
  }
  .container footer .flexbox-11 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    border-bottom: 1px dashed white;
  }
  .container footer .flexbox-11 .col-12 {
    min-width: 100%;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 h1 {
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
  .container footer .flexbox-11 .col-12 h4 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 p {
    font-size: 14px;
    font-weight: 400px;
    color: white;
    line-height: 20px;
  }
  .container footer .flexbox-11 .col-12 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
  }
  .container footer .flexbox-11 .col-12 .address {
    margin: 15px 0 0 0;
  }
  .container footer .flexbox-11 .col-12 input {
    width: 100%;
    height: 40px;
    border: transparent;
    background: white;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .container footer .flexbox-11 .col-12 button {
    width: 100%;
    height: 40px;
    padding: 2px 4px;
    background: #5e6600;
    border: transparent;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
  }
  .container footer .flexbox-11 .col-12 small {
    font-size: 12px;
    line-height: 15px;
    color: white;
  }
  .container footer .visit {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
  .container footer .visit small {
    font-size: 12px;
    color: white;
    cursor: pointer;
  }
  .container footer .visit .platforms {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .container footer .visit .platforms .fa-brands {
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
}
@media (min-width: 251px) and (max-width: 350.9px) {
  .container {
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px dashed black;
  }
  .container .wrap-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background-img2.png);
    background-size: cover;
    height: 550px;
    color: #ccc;
    width: 100%;
    font-family: sans-serif;
  }
  .container .wrap-1 .flexbox-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .wrap-1 .flexbox-1 .col-1 {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2 {
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    z-index: 1;
    color: white;
    position: relative;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2::after {
    content: "";
    width: 40px;
    height: 25px;
    position: absolute;
    border: 1px solid #ccc;
    left: 0px;
    margin-left: 22px;
    bottom: -5px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .fa-bars {
    width: 15px;
    padding-top: 5px;
    cursor: pointer;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content {
    position: absolute;
    background-image: url(../images/nav-background.png);
    background-color: rgba(35, 48, 0, 0.9);
    background-blend-mode: multiply;
    min-width: 800px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-150px);
    padding: 100px;
    margin: 40px 0 0 170px;
    display: none;
    z-index: 1;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-link a {
    color: yellow;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li {
    list-style-type: none;
    padding: 12px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a:hover {
    background: white;
    color: black;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content {
    padding-left: 40px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li {
    padding: 3px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li a {
    font-size: 17px;
  }
  .container .wrap-1 .flexbox-1 .col-2 {
    max-width: 400px;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
    -moz-column-gap: 130px;
         column-gap: 130px;
    font-size: 12px;
    font-weight: 300;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts a {
    padding: 4px 12px;
    border: 1px solid white;
    text-decoration: none;
    color: black;
  }
  .container .wrap-1 .hero-text {
    max-width: 800px;
    padding: 130px 10px 0;
  }
  .container .wrap-1 .hero-text h1 {
    font-size: 35px;
    font-weight: 700px;
    line-height: 60px;
  }
  .container .wrap-1 .hero-text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .container .wrap-1 .hero-time {
    padding: 50px 10px 0 10px;
  }
  .container .wrap-1 .hero-time .prompt {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .container .wrap-1 .hero-time .prompt h4 {
    font-size: 14px;
    font-weight: 600;
  }
  .container .wrap-1 .hero-time .prompt p {
    font-size: 12px;
    font-weight: 400;
  }
  .container .wrap-1 .hero-time table {
    padding-top: 10px;
  }
  .container .wrap-1 .hero-time table tr {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 54px;
         column-gap: 54px;
  }
  .container .wrap-1 .hero-time table tr th {
    font-size: 20px -8px;
    font-weight: 400;
    line-height: 35px;
  }
  .container .wrap-1 .hero-time table tr td {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  .container .wrap-2 {
    height: 1200px;
  }
  .container .wrap-2 .flexbox-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 120px 10px 20px 10px;
  }
  .container .wrap-2 .flexbox-3 .col-2 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-3 .col-2 .orange {
    width: 150px;
    position: absolute;
    left: 95px;
    bottom: -230px;
    z-index: -1000;
  }
  .container .wrap-2 .flexbox-3 .col-2 .man-img {
    width: 100%;
  }
  .container .wrap-2 .flexbox-3 .col-3 {
    margin-top: 50px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p a {
    color: rgb(66, 207, 66);
    text-decoration: none;
    cursor: pointer;
  }
  .container .wrap-2 .flexbox-4 {
    padding: 10px 10px 30px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .container .wrap-2 .flexbox-4 .col-3 {
    margin-top: 50px;
    max-width: 550px;
  }
  .container .wrap-2 .flexbox-4 .col-3 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .container .wrap-2 .flexbox-4 .col-3 a {
    font-size: 14px;
    border: 1px solid #123;
    text-decoration: none;
    padding: 4px 15px;
    text-align: center;
    cursor: pointer;
    color: #123;
    font-weight: 400;
  }
  .container .wrap-2 .flexbox-4 .col-4 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-4 .col-4 .man-img {
    width: 100%;
  }
  .container .wrap-3 {
    height: 850px;
    background: #ebf0e4;
  }
  .container .wrap-3 .mint {
    width: 70%;
    position: absolute;
    left: 20px;
  }
  .container .wrap-3 .col-1 {
    padding: 80px 35px 20px;
  }
  .container .wrap-3 .col-1 h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
  }
  .container .wrap-3 .col-1 small {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-3 form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 50px;
         column-gap: 50px;
    padding: 50px 10px;
  }
  .container .wrap-3 form .first {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400px;
    padding: 5px 8px;
    color: #123;
    border: transparent;
  }
  .container .wrap-3 form .first ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .first ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400px;
    padding: 5px 8px;
    color: #123;
    border: transparent;
  }
  .container .wrap-3 form .second ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form button {
    width: 100%;
    margin: 50px 80px;
    height: 40px;
    background: #233000;
    font-size: 14px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
  }
  .container footer {
    height: 500px;
    background: #233000;
    padding: 30px 10px;
    text-align: center;
  }
  .container footer .flexbox-11 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    border-bottom: 1px dashed white;
  }
  .container footer .flexbox-11 .col-12 {
    min-width: 100%;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 h1 {
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
  .container footer .flexbox-11 .col-12 h4 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 p {
    font-size: 14px;
    font-weight: 400px;
    color: white;
    line-height: 20px;
  }
  .container footer .flexbox-11 .col-12 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
  }
  .container footer .flexbox-11 .col-12 .address {
    margin: 15px 0 0 0;
  }
  .container footer .flexbox-11 .col-12 input {
    width: 100%;
    height: 40px;
    border: transparent;
    background: white;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .container footer .flexbox-11 .col-12 button {
    width: 100%;
    height: 40px;
    padding: 2px 4px;
    background: #5e6600;
    border: transparent;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
  }
  .container footer .flexbox-11 .col-12 small {
    font-size: 12px;
    line-height: 15px;
    color: white;
  }
  .container footer .visit {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
  .container footer .visit small {
    font-size: 12px;
    color: white;
    cursor: pointer;
  }
  .container footer .visit .platforms {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .container footer .visit .platforms .fa-brands {
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
}
@media (min-width: 351px) and (max-width: 575.9px) {
  .container {
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px dashed black;
  }
  .container .wrap-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background-img2.png);
    background-size: cover;
    height: 650px;
    color: #ccc;
    width: 100%;
    font-family: sans-serif;
  }
  .container .wrap-1 .flexbox-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .container .wrap-1 .flexbox-1 .col-1 {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2 {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    z-index: 1;
    color: white;
    position: relative;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2::after {
    content: "";
    width: 55px;
    height: 30px;
    position: absolute;
    border: 1px solid black;
    left: 0px;
    margin-left: 19px;
    bottom: -5px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .fa-bars {
    width: 18px;
    padding-top: 5px;
    cursor: pointer;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content {
    position: absolute;
    background-image: url(../images/nav-background.png);
    background-color: rgba(35, 48, 0, 0.9);
    background-blend-mode: multiply;
    min-width: 800px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-150px);
    padding: 100px;
    margin: 40px 0 0 170px;
    display: none;
    z-index: 1;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-link a {
    color: yellow;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li {
    list-style-type: none;
    padding: 12px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a:hover {
    background: white;
    color: black;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content {
    padding-left: 40px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li {
    padding: 3px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li a {
    font-size: 17px;
  }
  .container .wrap-1 .flexbox-1 .col-2 {
    max-width: 550px;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts {
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
    -moz-column-gap: 45px;
         column-gap: 45px;
    font-size: 14px;
    font-weight: 300;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts a {
    padding: 4px 12px;
    border: 1px solid white;
    text-decoration: none;
    color: black;
  }
  .container .wrap-1 .hero-text {
    max-width: 800px;
    padding: 200px 20px 0;
  }
  .container .wrap-1 .hero-text h1 {
    font-size: 60px;
    font-weight: 700px;
    line-height: 80px;
  }
  .container .wrap-1 .hero-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-1 .hero-time {
    padding: 50px 20px 0 200px;
  }
  .container .wrap-1 .hero-time .prompt {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .container .wrap-1 .hero-time .prompt h4 {
    font-size: 18px;
    font-weight: 600;
  }
  .container .wrap-1 .hero-time .prompt p {
    font-size: 14px;
    font-weight: 400;
  }
  .container .wrap-1 .hero-time table {
    padding-top: 20px;
  }
  .container .wrap-1 .hero-time table tr {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .container .wrap-1 .hero-time table tr th {
    font-size: 20px -6px;
    font-weight: 400;
    line-height: 25px;
  }
  .container .wrap-1 .hero-time table tr td {
    font-size: 20px -6px;
    font-weight: 400;
    line-height: 25px;
  }
  .container .wrap-2 {
    height: 1000px;
  }
  .container .wrap-2 .flexbox-3 {
    display: flex;
    justify-content: space-between;
    padding: 150px 20px 50px 20px;
  }
  .container .wrap-2 .flexbox-3 .col-2 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-3 .col-2 .orange {
    width: 150px;
    position: absolute;
    left: 205px;
    bottom: -367px;
    z-index: -1000;
  }
  .container .wrap-2 .flexbox-3 .col-2 .man-img {
    width: 300px;
  }
  .container .wrap-2 .flexbox-3 .col-3 {
    margin-top: 80px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p a {
    color: rgb(66, 207, 66);
    text-decoration: none;
    cursor: pointer;
  }
  .container .wrap-2 .flexbox-4 {
    padding: 50px 20px 50px 20px;
    display: flex;
    justify-content: space-between;
  }
  .container .wrap-2 .flexbox-4 .col-3 {
    margin-top: 150px;
    max-width: 550px;
  }
  .container .wrap-2 .flexbox-4 .col-3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .container .wrap-2 .flexbox-4 .col-3 a {
    font-size: 14px;
    border: 1px solid #123;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    color: #123;
    font-weight: 400;
  }
  .container .wrap-2 .flexbox-4 .col-4 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-4 .col-4 .man-img {
    width: 300px;
  }
  .container .wrap-3 {
    height: 900px;
    background: #ebf0e4;
  }
  .container .wrap-3 .mint {
    width: 250px;
    position: absolute;
    left: 50px;
  }
  .container .wrap-3 .col-1 {
    padding: 110px 100px 50px;
  }
  .container .wrap-3 .col-1 h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
  }
  .container .wrap-3 .col-1 small {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-3 form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 20px;
  }
  .container .wrap-3 form .first {
    width: 256px;
    height: 50px;
    font-size: 16px;
    font-weight: 400px;
    color: #123;
    padding: 5px 8px;
    border: transparent;
  }
  .container .wrap-3 form .first ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .first ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 400px;
    padding: 5px 8px;
    color: #123;
    border: transparent;
  }
  .container .wrap-3 form .second ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form button {
    width: 150px;
    margin: 50px 200px;
    height: 50px;
    background: #233000;
    font-size: 16px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
  }
  .container footer {
    height: 500px;
    background: #233000;
    padding: 30px 20px;
    text-align: center;
  }
  .container footer .flexbox-11 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    border-bottom: 1px dashed white;
  }
  .container footer .flexbox-11 .col-12 {
    min-width: 100%;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 h1 {
    font-size: 22px;
    font-weight: 600;
    color: white;
  }
  .container footer .flexbox-11 .col-12 h4 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 p {
    font-size: 14px;
    font-weight: 400px;
    color: white;
    line-height: 20px;
  }
  .container footer .flexbox-11 .col-12 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
  }
  .container footer .flexbox-11 .col-12 .address {
    margin: 15px 0 0 0;
  }
  .container footer .flexbox-11 .col-12 input {
    width: 100%;
    height: 40px;
    border: transparent;
    background: white;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .container footer .flexbox-11 .col-12 button {
    width: 100%;
    height: 40px;
    padding: 2px 4px;
    background: #5e6600;
    border: transparent;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
  }
  .container footer .flexbox-11 .col-12 small {
    font-size: 12px;
    line-height: 15px;
    color: white;
  }
  .container footer .visit {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
  .container footer .visit small {
    font-size: 12px;
    color: white;
    cursor: pointer;
  }
  .container footer .visit .platforms {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .container footer .visit .platforms .fa-brands {
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px dashed black;
  }
  .container .wrap-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background-img2.png);
    background-size: cover;
    height: 650px;
    color: #ccc;
    width: 100%;
    font-family: sans-serif;
  }
  .container .wrap-1 .flexbox-1 {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
  }
  .container .wrap-1 .flexbox-1 .col-1 {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2 {
    font-size: 23px;
    font-weight: 800;
    text-align: center;
    z-index: 1;
    position: relative;
    color: white;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2::after {
    content: "";
    width: 70px;
    height: 50px;
    position: absolute;
    border: 1px solid white;
    left: 0px;
    margin-left: 25px;
    bottom: -13px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .fa-bars {
    width: 30px;
    padding-top: 15px;
    color: #ccc;
    cursor: pointer;
    position: relative;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content {
    position: absolute;
    background-image: url(../images/nav-background.png);
    background-color: rgba(35, 48, 0, 0.9);
    background-blend-mode: multiply;
    min-width: 800px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-150px);
    padding: 100px;
    margin: 40px 0 0 170px;
    display: none;
    z-index: 1;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-link a {
    color: yellow;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li {
    list-style-type: none;
    padding: 12px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a:hover {
    background: white;
    color: black;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content {
    padding-left: 40px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li {
    padding: 3px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li a {
    font-size: 17px;
  }
  .container .wrap-1 .flexbox-1 .col-2 {
    max-width: 300px;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    color: white;
    padding: 0 70px;
    font-size: 18px;
    font-weight: 500;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts a {
    padding: 8px 25px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
  }
  .container .wrap-1 .hero-text {
    max-width: 800px;
    padding: 200px 20px 0;
  }
  .container .wrap-1 .hero-text h1 {
    font-size: 60px;
    font-weight: 700px;
    line-height: 80px;
  }
  .container .wrap-1 .hero-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-1 .hero-time {
    padding: 50px 20px 0 392px;
  }
  .container .wrap-1 .hero-time .prompt {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .container .wrap-1 .hero-time .prompt h4 {
    font-size: 18px;
    font-weight: 600;
  }
  .container .wrap-1 .hero-time .prompt p {
    font-size: 14px;
    font-weight: 400;
  }
  .container .wrap-1 .hero-time table {
    padding-top: 20px;
  }
  .container .wrap-1 .hero-time table tr {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .container .wrap-1 .hero-time table tr th {
    font-size: 20px -6px;
    font-weight: 400;
    line-height: 25px;
  }
  .container .wrap-1 .hero-time table tr td {
    font-size: 20px -6px;
    font-weight: 400;
    line-height: 25px;
  }
  .container .wrap-2 {
    height: 1200px;
  }
  .container .wrap-2 .flexbox-3 {
    display: flex;
    justify-content: space-between;
    padding: 150px 70px 50px 20px;
  }
  .container .wrap-2 .flexbox-3 .col-2 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-3 .col-2 .orange {
    width: 200px;
    position: absolute;
    left: 280px;
    bottom: -387px;
    z-index: -1000;
  }
  .container .wrap-2 .flexbox-3 .col-2 .man-img {
    width: 400px;
  }
  .container .wrap-2 .flexbox-3 .col-3 {
    margin-top: 80px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p a {
    color: rgb(66, 207, 66);
    text-decoration: none;
    cursor: pointer;
  }
  .container .wrap-2 .flexbox-4 {
    padding: 50px 20px 50px 20px;
    display: flex;
    justify-content: space-between;
  }
  .container .wrap-2 .flexbox-4 .col-3 {
    margin-top: 150px;
    max-width: 550px;
  }
  .container .wrap-2 .flexbox-4 .col-3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .container .wrap-2 .flexbox-4 .col-3 a {
    font-size: 14px;
    border: 1px solid #123;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    color: #123;
    font-weight: 400;
  }
  .container .wrap-2 .flexbox-4 .col-4 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-4 .col-4 .man-img {
    width: 400px;
  }
  .container .wrap-3 {
    height: 900px;
    background: #ebf0e4;
  }
  .container .wrap-3 .mint {
    width: 250px;
    position: absolute;
    left: 100px;
  }
  .container .wrap-3 .col-1 {
    padding: 110px 200px 50px;
  }
  .container .wrap-3 .col-1 h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
  }
  .container .wrap-3 .col-1 small {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-3 form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 20px;
  }
  .container .wrap-3 form .first {
    width: 352px;
    height: 50px;
    font-size: 16px;
    font-weight: 400px;
    color: #123;
    padding: 5px 8px;
    border: transparent;
  }
  .container .wrap-3 form .first ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .first ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 400px;
    padding: 5px 8px;
    color: #123;
    border: transparent;
  }
  .container .wrap-3 form .second ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form button {
    width: 150px;
    margin: 50px 300px;
    height: 50px;
    background: #233000;
    font-size: 16px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
  }
  .container footer {
    height: 500px;
    background: #233000;
    padding: 30px 20px;
    text-align: center;
  }
  .container footer .flexbox-11 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    border-bottom: 1px dashed white;
  }
  .container footer .flexbox-11 .col-12 {
    min-width: 100%;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 h1 {
    font-size: 22px;
    font-weight: 600;
    color: white;
  }
  .container footer .flexbox-11 .col-12 h4 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 p {
    font-size: 14px;
    font-weight: 400px;
    color: white;
    line-height: 20px;
  }
  .container footer .flexbox-11 .col-12 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
  }
  .container footer .flexbox-11 .col-12 .address {
    margin: 15px 0 0 0;
  }
  .container footer .flexbox-11 .col-12 input {
    width: 100%;
    height: 40px;
    border: transparent;
    background: white;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .container footer .flexbox-11 .col-12 button {
    width: 100%;
    height: 40px;
    padding: 2px 4px;
    background: #5e6600;
    border: transparent;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
  }
  .container footer .flexbox-11 .col-12 small {
    font-size: 12px;
    line-height: 15px;
    color: white;
  }
  .container footer .visit {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
  .container footer .visit small {
    font-size: 12px;
    color: white;
    cursor: pointer;
  }
  .container footer .visit .platforms {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .container footer .visit .platforms .fa-brands {
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px dashed black;
  }
  .container .wrap-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/background-img2.png);
    background-size: cover;
    height: 650px;
    color: #ccc;
    width: 100%;
    font-family: sans-serif;
  }
  .container .wrap-1 .flexbox-1 {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
  }
  .container .wrap-1 .flexbox-1 .col-1 {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2 {
    font-size: 23px;
    font-weight: 800;
    text-align: center;
    z-index: 1;
    position: relative;
    color: white;
  }
  .container .wrap-1 .flexbox-1 .col-1 h2::after {
    content: "";
    width: 70px;
    height: 50px;
    position: absolute;
    border: 1px solid white;
    left: 0px;
    margin-left: 25px;
    bottom: -13px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .fa-bars {
    width: 30px;
    padding-top: 15px;
    color: #ccc;
    cursor: pointer;
    position: relative;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content {
    position: absolute;
    background-image: url(../images/nav-background.png);
    background-color: rgba(35, 48, 0, 0.9);
    background-blend-mode: multiply;
    min-width: 800px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-150px);
    padding: 100px;
    margin: 40px 0 0 170px;
    display: none;
    z-index: 1;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-link a {
    color: yellow;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li {
    list-style-type: none;
    padding: 12px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content ul li a:hover {
    background: white;
    color: black;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content {
    padding-left: 40px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li {
    padding: 3px;
  }
  .container .wrap-1 .flexbox-1 .col-1 .bars-content .blog-content ul li a {
    font-size: 17px;
  }
  .container .wrap-1 .flexbox-1 .col-2 {
    max-width: 300px;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
    color: white;
    padding: 0 70px;
    font-size: 18px;
    font-weight: 500;
  }
  .container .wrap-1 .flexbox-1 .col-2 .reservation-texts a {
    padding: 8px 25px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
  }
  .container .wrap-1 .hero-text {
    max-width: 800px;
    padding: 200px 20px 0;
  }
  .container .wrap-1 .hero-text h1 {
    font-size: 60px;
    font-weight: 700px;
    line-height: 80px;
  }
  .container .wrap-1 .hero-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-1 .hero-time {
    padding: 50px 20px 0 392px;
  }
  .container .wrap-1 .hero-time .prompt {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .container .wrap-1 .hero-time .prompt h4 {
    font-size: 18px;
    font-weight: 600;
  }
  .container .wrap-1 .hero-time .prompt p {
    font-size: 14px;
    font-weight: 400;
  }
  .container .wrap-1 .hero-time table {
    padding-top: 20px;
  }
  .container .wrap-1 .hero-time table tr {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .container .wrap-1 .hero-time table tr th {
    font-size: 20px -6px;
    font-weight: 400;
    line-height: 25px;
  }
  .container .wrap-1 .hero-time table tr td {
    font-size: 20px -6px;
    font-weight: 400;
    line-height: 25px;
  }
  .container .wrap-2 {
    height: 1200px;
  }
  .container .wrap-2 .flexbox-3 {
    display: flex;
    justify-content: space-between;
    padding: 150px 70px 50px 20px;
  }
  .container .wrap-2 .flexbox-3 .col-2 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-3 .col-2 .orange {
    width: 200px;
    position: absolute;
    left: 280px;
    bottom: -387px;
    z-index: -1000;
  }
  .container .wrap-2 .flexbox-3 .col-2 .man-img {
    width: 400px;
  }
  .container .wrap-2 .flexbox-3 .col-3 {
    margin-top: 80px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }
  .container .wrap-2 .flexbox-3 .col-3 p a {
    color: rgb(66, 207, 66);
    text-decoration: none;
    cursor: pointer;
  }
  .container .wrap-2 .flexbox-4 {
    padding: 50px 20px 50px 20px;
    display: flex;
    justify-content: space-between;
  }
  .container .wrap-2 .flexbox-4 .col-3 {
    margin-top: 150px;
    max-width: 550px;
  }
  .container .wrap-2 .flexbox-4 .col-3 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .container .wrap-2 .flexbox-4 .col-3 a {
    font-size: 14px;
    border: 1px solid #123;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    color: #123;
    font-weight: 400;
  }
  .container .wrap-2 .flexbox-4 .col-4 {
    max-width: 600px;
  }
  .container .wrap-2 .flexbox-4 .col-4 .man-img {
    width: 400px;
  }
  .container .wrap-3 {
    height: 900px;
    background: #ebf0e4;
  }
  .container .wrap-3 .mint {
    width: 250px;
    position: absolute;
    left: 100px;
  }
  .container .wrap-3 .col-1 {
    padding: 110px 200px 50px;
  }
  .container .wrap-3 .col-1 h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
  }
  .container .wrap-3 .col-1 small {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .container .wrap-3 form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 20px;
  }
  .container .wrap-3 form .first {
    width: 352px;
    height: 50px;
    font-size: 16px;
    font-weight: 400px;
    color: #123;
    padding: 5px 8px;
    border: transparent;
  }
  .container .wrap-3 form .first ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .first ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second {
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 400px;
    padding: 5px 8px;
    color: #123;
    border: transparent;
  }
  .container .wrap-3 form .second ::-moz-placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form .second ::placeholder {
    color: #b3b3b3;
  }
  .container .wrap-3 form button {
    width: 150px;
    margin: 50px 300px;
    height: 50px;
    background: #233000;
    font-size: 16px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
  }
  .container footer {
    height: 500px;
    background: #233000;
    padding: 30px 20px;
    text-align: center;
  }
  .container footer .flexbox-11 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    border-bottom: 1px dashed white;
  }
  .container footer .flexbox-11 .col-12 {
    min-width: 100%;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 h1 {
    font-size: 22px;
    font-weight: 600;
    color: white;
  }
  .container footer .flexbox-11 .col-12 h4 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin: 0 0 10px 0;
  }
  .container footer .flexbox-11 .col-12 p {
    font-size: 14px;
    font-weight: 400px;
    color: white;
    line-height: 20px;
  }
  .container footer .flexbox-11 .col-12 a {
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
  }
  .container footer .flexbox-11 .col-12 .address {
    margin: 15px 0 0 0;
  }
  .container footer .flexbox-11 .col-12 input {
    width: 100%;
    height: 40px;
    border: transparent;
    background: white;
    color: black;
    padding: 2px 4px;
    border-radius: 4px;
  }
  .container footer .flexbox-11 .col-12 button {
    width: 100%;
    height: 40px;
    padding: 2px 4px;
    background: #5e6600;
    border: transparent;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
  }
  .container footer .flexbox-11 .col-12 small {
    font-size: 12px;
    line-height: 15px;
    color: white;
  }
  .container footer .visit {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
  }
  .container footer .visit small {
    font-size: 12px;
    color: white;
    cursor: pointer;
  }
  .container footer .visit .platforms {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .container footer .visit .platforms .fa-brands {
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
}/*# sourceMappingURL=contact.css.map */