@import "./mixin";
@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 0;
  width: $container-width;
  height: $container-height;
  border: 1px dashed black;

  // ===========heading section===================

  .wrap-1 {
    @extend.wrap-1;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/background-img2.png);
    background-size: cover;
    height: 750px;
    color: $text-color;
    width: 100%;
    font-family: $font-family;

    .flexbox-1 {
      @include flexing();
      padding: $side-padding - 20px $side-padding;
      // flex-wrap: wrap;
      .col-1 {
        max-width: 300px;
        @include flexing();
        gap: $flex-gap;

        h2 {
          font-size: $text-heading-size;
          font-weight: $text-weight + 300;
          text-align: center;
          z-index: 1;
          position: relative;
          color: white;
          &::after {
            content: "";
            width: 100px;
            height: 60px;
            position: absolute;
            border: 1px solid white;
            left: -0px;
            margin-left: 25px;
            bottom: -15px;
          }
        }

        .fa-bars {
          width: 50px;
          padding-top: 15px;
          color: #ccc;
          cursor: pointer;
          position: $myrelative-p;
        }
        .bars-content {
          @include navigationbar;
          .blog-link a {
            color: yellow;
          }
          ul li {
            list-style-type: none;
            padding: 12px;
            a {
              text-decoration: none;
              color: white;
              font-size: $text-para-size;
              font-weight: $text-weight;
              &:hover {
                background: white;
                color: black;
              }
            }
          }
          .blog-content {
            padding-left: $side-padding - 10px;
            // display: none;
            ul li {
              padding: 3px;
              a {
                font-size: $text-para-size - 3px;
              }
            }
          }
        }
      }
      .col-2 {
        max-width: 400px;
        .reservation-texts {
          @include flexing();
          justify-content: center;
          align-items: center;
          column-gap: 50px;
          color: white;
          padding: 0 70px;
          font-size: $text-para-size;
          font-weight: $text-weight;
          a {
            padding: 8px 25px;
            color: white;
            border: 1px solid white;
            text-decoration: none;
            // color: black;
          }
        }
      }
    }

    .hero-text {
      max-width: 800px;
      padding: $side-padding + 150px $side-padding 0;
      h1 {
        font-size: $text-heading-size + 70px;
        font-weight: 700px;
        line-height: 120px;
      }
      p {
        font-size: $text-para-size - 2px;
        font-weight: 400;
        line-height: 30px;
      }
    }
    .hero-time {
      // max-width: 600px;
      padding: $side-padding $side-padding 0 $side-padding + 800px;
      .prompt {
        @include flexing();
        padding-bottom: 30px;
        h4 {
          font-size: $text-heading-size - 5px;
          font-weight: 600;
        }
        p {
          font-size: $text-para-size - 2px;
          font-weight: 400;
        }
      }
      table {
        padding-top: 30px;
        // tr th {
        //   padding: 0 50px 10px;
        //   tr th:first-of-type {
        //     padding: 0 0 10px;
        //   }
        // }
        tr {
          @include flexing();
          column-gap: 80px;
          th {
            font-size: $text-para-size -2px;
            font-weight: 400;
            line-height: 25px;
          }
          td {
            font-size: $text-para-size -2px;
            font-weight: 400;
            line-height: 25px;
          }
        }
      }
    }
  }

  // ==========Location section================

  .wrap-2 {
    height: 1600px;
    // border: 1px solid red;
    .flexbox-3 {
      @include flexing();
      padding: $side-padding + 200px $side-padding + 200px $side-padding
        $side-padding;
      .col-2 {
        max-width: 600px;
        .orange {
          width: 300px;
          position: absolute;
          left: 645px;
          bottom: -507px;
          z-index: -1000;
        }
        .man-img {
          width: 700px;
        }
      }
      .col-3 {
        margin-top: 350px;
        p {
          font-size: $text-para-size;
          font-weight: 400;
          line-height: 25px;
          a {
            color: rgb(66, 207, 66);
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    .flexbox-4 {
      padding: $side-padding $side-padding + 30 $side-padding $side-padding +
        50px;
      @include flexing();
      .col-3 {
        margin-top: 300px;
        max-width: 550px;
        p {
          font-size: $text-para-size;
          font-weight: 400;
          line-height: 25px;
          padding-bottom: 20px;
        }
        a {
          font-size: $text-para-size - 4px;
          border: 1px solid #123;
          text-decoration: none;
          padding: 8px 25px;
          text-align: center;
          cursor: pointer;
          color: #123;
          font-weight: 400;
          // margin-top: 10px;
        }
      }
      .col-4 {
        max-width: 600px;
        .man-img {
          width: 500px;
        }
      }
    }
  }

  // =========make reservatin section==========

  .wrap-3 {
    height: 1150px;
    background: #ebf0e4;
    .mint {
      width: 400px;
      position: absolute;
      left: 120px;
    }
    .col-1 {
      // max-width: 600px;
      padding: $side-padding + 110px $side-padding + 320px $side-padding + 50px;
      h1 {
        font-size: $text-heading-size + 40px;
        font-weight: 600;
        line-height: 150px;
        // text-align: center;
      }
      small {
        font-size: $text-para-size - 2px;
        font-weight: 400;
        line-height: 20px;
      }
    }
    form {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      column-gap: 50px;
      padding: $side-padding;

      .first {
        width: 598px;
        height: 50px;
        font-size: $text-para-size - 4px;
        font-weight: 400px;
        color: #123;
        border: transparent;
        ::placeholder {
          color: #b3b3b3;
        }
      }
      .second {
        width: 100%;
        height: 50px;
        font-size: $text-para-size - 4px;
        font-weight: 400px;
        color: #123;
        border: transparent;
        ::placeholder {
          color: #b3b3b3;
        }
      }
      button {
        width: 200px;
        margin: $side-padding + 50px $side-padding + 500px;
        height: 50px;
        background: $bg-color;
        font-size: $text-para-size - 4px;
        text-align: center;
        color: $text-color;
        cursor: pointer;
      }
    }
  }

  // ===========Footer section==================

  footer {
    height: 500px;
    background: $bg-color;
    padding: 100px 50px;
    .flexbox-11 {
      @include flexing();
      border-bottom: 2px dashed white;
      .col-12 {
        min-width: 300px;
        margin: 0 0 100px 0;
        h1 {
          font-size: $text-heading-size + 15px;
          font-weight: $text-weight + 300;
          color: white;
        }
        h4 {
          font-size: $text-heading-size;
          font-weight: $text-weight + 200;
          color: white;
          margin: 0 0 50px 0;
        }
        p {
          font-size: $text-para-size;
          font-weight: $text-weight - 300px;
          color: white;
          line-height: 25px;
        }
        a {
          text-decoration: none;
          color: white;
          // line-height: 80px;
          margin-bottom: 50px;
        }
        .address {
          margin: 30px 0 0 0;
        }
        input {
          width: 300px;
          height: 50px;
          border: transparent;
          background: white;
          color: black;
          padding: 5px 10px;
        }
        button {
          width: 150px;
          height: 50px;
          padding: 5px 10px;
          background: #5e6600;
          border: transparent;
          cursor: pointer;
          font-size: $text-para-size;
          // box-shadow: 0 0 2px;
        }
        small {
          font-size: $text-para-size - 5px;
          line-height: 25px;
          color: white;
        }
      }
    }
    .visit {
      @include flexing();
      margin: 10px 0 0 0;
      small {
        font-size: $text-para-size - 5px;
        color: white;
        cursor: pointer;
      }
      .platforms {
        max-width: 500px;
        @include flexing();
        flex-direction: row;
        column-gap: 30px;
        .fa-brands {
          color: white;
          font-size: $text-para-size;
          cursor: pointer;
        }
      }
    }
  }
}

// =========MEDIA QUERIES================
// XX-SM (<250.9px)

// @media (max-width: 250.9px){}

// XX-SM
// @media (min-width:251px) and (max-width:350.9px){}

// X-SM
// @media (min-width:351px) and (max-width:575.9px){}

// SM
// @media (min-width:576px) and (max-width:767.9px){}

// MD
// @media (min-width:768px) and (max-width:991.9px){}

// LG
// @media (min-width:992px) and (max-width:1200.9px){}

// XL
// @media (min-width:1201px) and (max-width:1499.9px){}

// XXL
// @media(max-width:1500px){}
